body {
    font-family: 'Liberation Sans', Helvetica, 'Helvetica Neue', Arial, Geneva, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #58595b;
    background: #e7e7e7;
}

.widget {
    background: #fff;
    padding: 20px;
    margin: 0 auto;
}

.table_widget {
    background: #fff;
    width: 640px;
    margin: 0 auto;
}

h2 {
    margin: 0px;
    font-size: 17px;
}

.titles {
    width: 100%;
}

.number {
    float: left;
}

.obtenido {
    color: #20b3b2;
}

.de {
    float: left;
    margin-left: 5px;   
}

.minimum {
    color: #96238f;
    margin-left: 5px;
}

.euros {
    margin-left: 5px;
    float: left;
}

.quedan {
    width: 265px;
    float: right;
    text-align: right;
}

.chart_div {
    clear: both;
}

/* --- CHART STYLING --- */
.funds_area {
    fill: #20B3B2;
    opacity: 0.3;
}

.funds_line {
    stroke: #20B3B2;
    stroke-width: 3;
    fill: none;
    cursor: pointer;
}

.funders_area {
    fill: #92AFD1;
    opacity: 0.5;
}

.funders_line {
    stroke: #313B96;
    stroke-width: 3;
    fill: none;
    cursor: pointer;
}

.day_circle {
    stroke-width: 3;
    stroke: #20B3B2;
    fill: #ffffff;
    cursor: pointer;
}

g.x.axis {
    stroke: #808184;
    stroke-width: 1;
    fill: none;
}

g.y.axis line {
    stroke: #808184;
    fill : none;
    stroke-dasharray: 1px 3px;
    stroke-width: 1px;
}

g.axis text {
    font-size: 10px;
    font-weight: normal;
    stroke: none;
    fill: #808184;
    text-anchor: end;
}

g.x.axis text {
    text-anchor: middle;
}

.arrow_funded_height {
    fill: #ffffff;
    text-anchor: middle;
    font-size: 11;
}

.infobox {
    fill: #CAE2E2;
    opacity: 0;
}

.infobox_funds_bg {
    fill: #808184;
}

.infofunds_text {
    fill: #58595b;
}

.infofunds_text2 {
    fill: #58595b;
    font-weight: normal;
    font-size: 12;
}

.infofunders_text {
    fill: #ffffff;
    font-weight: normal;
    font-size: 11;
}
